{% extends 'layout.html' %}

{% block title %} لیست دوره ها {% endblock %}

{% block content %}

    {% for course in courses %}
        <a href=""><h2>{{ course.title }}</h2></a>
        <img src="{{ course.image.url }}" alt="{{ course.title }}" width="300px" height="200px">
        <p>{% if course.level == 'A' %}
            مقدماتی
            {% elif course.level == 'B' %}
            متوسط
            {% else %}
            پیشرفته
            {% endif %} | {{ course.teacher }}</p>
    {% endfor %}


{% endblock %}