{% extends 'layout.html' %}

{% block title %} {{ course.title }} {% endblock %}

{% block content %}
    <h2>{{ course.title }}</h2>

    <p>
    مدرس :
    {{ course.teacher }}
    </p>
    <p>
    سطح دوره :
{% if course.level == 'A' %}
            مقدماتی
            {% elif course.level == 'B' %}
            متوسط
            {% else %}
            پیشرفته
            {% endif %}
    </p>
    <p>
    قیمت
    {% if course.price == 0 %}
        رایگان
    {% else %}
        {{ course.price }}
    {% endif %}
    </p>

    <h3>درباره دوره</h3>
    <p>{{ course.description }}</p>
    {% for season in seasons %}
        <details>
            <summary>{{ season.title }}</summary>
            {% for video in videos %}
                {% if video.season.id == season.id %}
                    <details>
                    <summary>{{ video.title }}</summary>
                    <video controls="controls" type="video/mp4" src="{{ video.video.url }}" width="500"></video>
                    <p>{{ video.short_description }}</p>
                    </details>
                {% endif %}
            {% endfor %}

        </details>
    {% endfor %}


{% endblock %}