{% extends 'layout.html' %}

{% block title %} مقالات {% endblock %}

{% block content %}

{% for post in Posts %}
    <a href="{% url 'blog-post' id=post.id %}"><h2>{{ post.title }}</h2></a>
    <p>{{ post.short_description }}</p>
    <p style="color: red">{{ post.author }}</p>
{% endfor %}


{% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}">قبلی</a></li>
{% endif %}

{% for page in paginator.page_range %}
    <li><a href="?page={{ page }}">{{ page }}</a></li>
{% endfor %}


{% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}">بعدی</a></li>
{% endif %}

{% endblock %}