{% extends 'layout.html' %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}

    <h2>{{ post.title }}</h2>
    <b>توضیحات کوتاه : </b>
    <p>{{ post.short_description }}</p>
    <br><br>
    <p>{{ post.content }}</p>
    <br><br><br><br><br>

    <h3>کامنت ها</h3>
    کامنتی بنویسید :


    <form action="{% url 'blog-post' id=post.id %}" method="post">
    {% csrf_token %}
    {% for f in form %}

        <b>{{ f.label }}</b>
        <br>
        {{ f }}
        <br>

    {% endfor %}
    <input type="submit" value="ثبت نظر">
    </form>
{% endblock %}